In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

In [2]:
pwd = os.getcwd()

In [3]:
company_data_frame = pd.read_csv(pwd+'/company.csv')
company_tweet_data_frame = pd.read_csv(pwd+'/company_tweet.csv')
tweets_data_frame = pd.read_csv(pwd+'/tweet.csv')

In [4]:
company_data_frame.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool

In [6]:
company_tweet_data_frame.loc[company_tweet_data_frame.duplicated(),:]

Empty DataFrame
Columns: [tweet_id, ticker_symbol]
Index: []

In [7]:
tweets_data_frame.loc[tweets_data_frame.duplicated(),:]

Empty DataFrame
Columns: [tweet_id, writer, post_date, body, comment_num, retweet_num, like_num]
Index: []

In [8]:
company_data_frame.columns

Index(['ticker_symbol', 'company_name'], dtype='object')

In [11]:
company_tweet_data_frame.columns

Index(['tweet_id', 'ticker_symbol'], dtype='object')

In [12]:
tweets_data_frame.columns

Index(['tweet_id', 'writer', 'post_date', 'body', 'comment_num', 'retweet_num',
       'like_num'],
      dtype='object')

In [13]:
company_tweet_data_frame_mod = company_tweet_data_frame.copy()
company_data_frame_mod = company_data_frame.copy()
tweets_data_frame_mod = tweets_data_frame.copy()

In [16]:
company_data_frame

  ticker_symbol company_name
0          AAPL        apple
1          GOOG   Google Inc
2         GOOGL   Google Inc
3          AMZN   Amazon.com
4          TSLA    Tesla Inc
5          MSFT    Microsoft

In [17]:
company_tweet_data_frame_mod

                    tweet_id ticker_symbol
0         550803612197457920          AAPL
1         550803610825928706          AAPL
2         550803225113157632          AAPL
3         550802957370159104          AAPL
4         550802855129382912          AAPL
...                      ...           ...
4336440  1212158772015034369          TSLA
4336441  1212159099632267268          TSLA
4336442  1212159184931717120          TSLA
4336443  1212159838882533376          TSLA
4336444  1212160015332728833          TSLA

[4336445 rows x 2 columns]

In [18]:
company_tweet_id = pd.merge(left=company_tweet_data_frame_mod,right=company_data_frame_mod,how="left",left_on="ticker_symbol",right_on="ticker_symbol")

In [19]:
company_tweet_id

                    tweet_id ticker_symbol company_name
0         550803612197457920          AAPL        apple
1         550803610825928706          AAPL        apple
2         550803225113157632          AAPL        apple
3         550802957370159104          AAPL        apple
4         550802855129382912          AAPL        apple
...                      ...           ...          ...
4336440  1212158772015034369          TSLA    Tesla Inc
4336441  1212159099632267268          TSLA    Tesla Inc
4336442  1212159184931717120          TSLA    Tesla Inc
4336443  1212159838882533376          TSLA    Tesla Inc
4336444  1212160015332728833          TSLA    Tesla Inc

[4336445 rows x 3 columns]

In [20]:
#Checking if the merged data frame size match with the orginal data frame size
print("Orginal",len(company_data_frame))
print("Orginal",len(company_tweet_data_frame))
print("merged",len(company_tweet_id))

Orginal 6
Orginal 4336445
merged 4336445

In [21]:
tweets_data_frame_mod

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num
0,550441509175443456,VisualStockRSRC,1420070457,"lx21 made $10,008 on $AAPL -Check it out! htt...",0,0,1
1,550441672312512512,KeralaGuy77,1420070496,Insanity of today weirdo massive selling. $aap...,0,0,0
2,550441732014223360,DozenStocks,1420070510,S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...,0,0,0
3,550442977802207232,ShowDreamCar,1420070807,$GM $TSLA: Volkswagen Pushes 2014 Record Recal...,0,0,1
4,550443807834402816,i_Know_First,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1
...,...,...,...,...,...,...,...
3717959,1212159765914079234,TEEELAZER,1577836383,That $SPY $SPX puuump in the last hour was the...,1,0,6
3717960,1212159838882533376,ShortingIsFun,1577836401,In 2020 I may start Tweeting out positive news...,0,0,1
3717961,1212160015332728833,Commuternyc,1577836443,Patiently Waiting for the no twitter sitter tw...,0,0,5
3717962,1212160410692046849,MoriaCrypto,1577836537,I don't discriminate. I own both $aapl and $ms...,1,0,1
3717963,1212160477159206912,treabase,1577836553,"$AAPL #patent 10,522,475 Vertical interconnect...",0,0,0

In [22]:
tweets_for_company = pd.merge(left=company_tweet_id,right=tweets_data_frame_mod,how="left",left_on="tweet_id",right_on="tweet_id")

In [23]:
tweets_for_company

,tweet_id,ticker_symbol,company_name,writer,post_date,body,comment_num,retweet_num,like_num
0,550803612197457920,AAPL,apple,SentiQuant,1420156789,#TOPTICKERTWEETS $AAPL $IMRS $BABA $EBAY $AMZN...,0,0,1
1,550803610825928706,AAPL,apple,SentiQuant,1420156788,#SENTISHIFTUP $K $FB $GOOGL $GS $GOLD $T $AAPL...,0,0,1
2,550803225113157632,AAPL,apple,MacHashNews,1420156696,Rumor Roundup: What to expect when you're expe...,0,0,0
3,550802957370159104,AAPL,apple,WaltLightShed,1420156633,"An $AAPL store line in Sapporo Japan for the ""...",2,4,4
4,550802855129382912,AAPL,apple,2waystrading,1420156608,$AAPL - Will $AAPL Give Second entry opportuni...,0,0,0
...,...,...,...,...,...,...,...,...,...
4336440,1212158772015034369,TSLA,Tesla Inc,StockJoke,1577836146,"I'm getting wasted on NYE, and thanks to @NHTS...",0,0,0
4336441,1212159099632267268,TSLA,Tesla Inc,sweetog76,1577836224,$TSLA Very Interesting dude:,0,0,0
4336442,1212159184931717120,TSLA,Tesla Inc,MelaynaLokosky,1577836245,If only 2020 brought more self-awareness to Te...,0,1,0
4336443,1212159838882533376,TSLA,Tesla Inc,ShortingIsFun,1577836401,In 2020 I may start Tweeting out positive news...,0,0,1
4336444,1212160015332728833,TSLA,Tesla Inc,Commuternyc,1577836443,Patiently Waiting for the no twitter sitter tw...,0,0,5

In [26]:
tweets_for_company.to_csv(pwd+"/Final.csv",index=False)